:host {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  h1 {
    margin: 0;
    font-size: 21px;
    font-weight: 500;
    color: var(--mat-sys-primary);
  }
  .mat-mdc-tab-group {
    margin-top: 1.5rem;
  }
  .create {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .search {
    width: 100%;
    margin-top: 1rem;
    .mat-mdc-form-field {
      width: 100%;
    }
  }
  table {
    width: 100%;
    .task-options {
      display: flex;
      align-items: center;
      button {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (min-width: 768px) {
  }
}
